{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "experimentalTernaries": true,
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "always",
  "singleAttributePerLine": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "printWidth": 120
}
